@using Product__Application.Constants;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Product__Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Product__Application.styles.css" asp-append-version="true" />

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light shadow">
            <div class="container d-flex justify-content-between align-items-center">
                <a class="navbar-brand text-success logo h1 align-self-center"
                   asp-controller="Product" asp-action="GetAllProduct">
                    Product App
                </a>

                <button class="navbar-toggler border-0"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#templatemo_main_nav"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-evenly"
                     id="templatemo_main_nav">
                    <div class="flex-fill">
                        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto" style="max-width:650px;">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="GetAllProduct">Shop</a>
                            </li>
                        </ul>
                    </div>
                    <div class="flex-fill">
                        @if (User.IsInRole(UserRoles.Admin))
                        {
                            <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto" style="max-width:650px;">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="AddProduct">AddProduct</a>
                                </li>
                            </ul>
                        }
                    </div>
                    <div class="navbar align-self-center d-flex">
                        <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       id="inputMobileSearch"
                                       placeholder="Search ..." />
                                <div class="input-group-text">
                                    <i class="fa fa-fw fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <ul class="navbar-nav ms-auto">

                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item "><a asp-action="signOut" asp-controller="Account" class="nav-link py-3 px-0 px-lg-3 rounded">Sign out @User.Identity.Name</a></li>
                            }
                            else
                            {
                            <li class="nav-item "><a asp-action="Register" asp-controller="Account" class="nav-link py-3 px-0 px-lg-3 rounded">Register</a></li>
                            <li class="nav-item "><a asp-action="Login" asp-controller="Account" class="nav-link py-3 px-0 px-lg-3 rounded">Login</a></li>
                            } 
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Product__Application - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
